" register leader
nnoremap <Space> <Nop>
xnoremap <Space> <Nop>
let mapleader = " "

" langmap = 'öäÖÄ;[]{}' Swedish keymap

" Normal mode mappings
nnoremap ö {
nnoremap ä }
nnoremap Ö [
nnoremap Ä ]

xnoremap ö {
xnoremap ä }
xnoremap Ö [
xnoremap Ä ]

onoremap ö {
onoremap ä }
onoremap Ö [
onoremap Ä ]

" Ergonomic repeat for Swedish keyboard
map å ;
map Å ,

" Basic stuff
set ReplaceWithRegister
set VimEverywhere
set clipboard+=unnamedplus
set history=1000
set hlsearch
set ideajoin
set idearefactormode=keep
set ideastatusicon=enabled
set ignorecase smartcase
set incsearch
set norelativenumber
set scrolloff=5
set showcmd
set showmode
set virtualedit=onemore
set visualbell
"set idearefactormode=visual

" Plugins
set NERDTree
set argtextobj
set commentary
set highlightedyank
set indentwise
set multiple-cursors
set sneak
set surround
" set which-key

" Needs external plugins
set functiontextobj
set peekaboo

" vim-indentwise: jump to next/previous line with equal indent
" Langmap equ
map gj <Plug>(IndentWiseNextEqualIndent)
map gk <Plug>(IndentWisePreviousEqualIndent)

" Djupare / grundare indentering
nmap <leader>gj <Plug>(IndentWiseNextGreaterIndent)
nmap <leader>gk <Plug>(IndentWisePreviousLesserIndent)
xmap <leader>gj <Plug>(IndentWiseNextGreaterIndent)
xmap <leader>gk <Plug>(IndentWisePreviousLesserIndent)

" set the various handlers
sethandler <C-a> a:vim
sethandler <C-b> a:vim
sethandler <C-c> a:vim
sethandler <C-d> a:vim
sethandler <C-e> a:vim
sethandler <C-f> a:vim
sethandler <C-g> a:vim
sethandler <C-h> a:vim
sethandler <C-i> a:vim
sethandler <C-j> a:ide
sethandler <C-k> a:ide
sethandler <C-l> a:vim
sethandler <C-m> a:vim
sethandler <C-n> a:vim
sethandler <C-o> a:vim
sethandler <C-p> a:vim
sethandler <C-q> a:vim
sethandler <C-r> a:vim
sethandler <C-s> a:vim
sethandler <C-t> a:vim
sethandler <C-u> a:vim
sethandler <C-v> a:vim
sethandler <C-w> a:vim
sethandler <C-x> a:vim
sethandler <C-y> a:vim
sethandler <C-z> a:vim

" WhichKey configuration, currently disabled
let g:WhichKey_CommandColor = "#01ffff"
let g:WhichKey_FontSize = 20
let g:WhichKey_KeyStyle = "italic"
let g:WhichKey_PrefixColor = "#a403fe"
let g:WhichKey_PrefixStyle = "bold"
let g:WhichKey_ShowTypedSequence = "true"
let g:WhichKey_SortOrder = "by_key_prefix_first"

" Enable all patterns from multiple groups
let g:switch_definitions = 'group:basic,group:java,group:javascript'

" Explicitly delete without overwriting the system clipboard
nnoremap <leader>d "_d
xnoremap <leader>d "_d

" Delete line to black-hole register
nnoremap <leader>dd "_dd

" Explicitly change without overwriting the system clipboard
nnoremap <leader>c "_c
xnoremap <leader>c "_c

" After block yank and paste, move cursor to the end of operated text and don't override register
xnoremap p "_dP`]
nnoremap p p`]

" Y yank whole line by default
xnoremap y ygv<Esc>$

" Make Y behave like D and C: yank to end of line
nnoremap Y y$

" Yank and paste from clipboard
nnoremap ,y "+y
xnoremap ,y "+y
nnoremap ,yy "+yy
nnoremap ,p "+p

" Copy Word
nnoremap ,c yiw

" Select word
nnoremap ,v viw

" Reselect last-pasted text
nnoremap gp `[v`]

" Center screen when jumping to next match
nnoremap n nzz
nnoremap N Nzz
xnoremap n nzz
xnoremap N Nzz

" Center screen when moving up and down
nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
xnoremap <C-u> <C-u>zz
xnoremap <C-d> <C-d>zz

" easy window navigation
nnoremap <a-H> gT
nnoremap <a-L> gt
nnoremap <c-s-tab> gT
nnoremap <c-tab> gt

" clear the search buffer when hitting return
nnoremap <leader><cr> :nohlsearch<cr>

" code Refactoring
nmap <leader>L <Action>(ShowReformatFileDialog)
nmap <leader>RN <Action>(Refactorings.QuickListPopupAction)
xmap <leader>RN <Action>(Refactorings.QuickListPopupAction)
nmap <leader>aa <Action>(GotoAction)
nmap <leader>ga <Action>(Annotate)
nmap <leader>oi <Action>(OptimizeImports)
nmap <leader>rc <Action>(IntroduceConstant)
xmap <leader>rc <Action>(IntroduceConstant)
nmap <leader>ri <Action>(Inline)
nmap <leader>rm <Action>(ExtractMethod)
xmap <leader>rm <Action>(ExtractMethod)
nmap <leader>rn <Action>(RenameElement)
nmap <leader>rv <Action>(IntroduceVariable)
nmap <leader>sw <Action>(SurroundWith)
xmap <leader>sw <Action>(SurroundWith)

" stuff
nmap <leader>er <Action>(QuickJavaDoc)
nmap <leader>ee <Action>(ShowErrorDescription)
nmap <leader>hh <Action>(QuickImplementations)
nmap <leader>hj <Action>(ShowHoverInfo)

nmap <leader>wt <Action>(ActivateTerminalToolWindow)
nmap <leader>wp <Action>(ActivateProblemsViewToolWindow)
nmap <leader>wg <Action>(ActivateVersionControlToolWindow)
nmap <leader>ww <Action>(ToggleZenMode)

" splits
nmap <leader>wv <Action>(SplitVertically)
nmap <leader>ws <Action>(SplitHorizontally)

" breakpoints
nmap <leader>ub <Action>(ToggleLineBreakpoint)
nmap <leader>us <Action>(ViewBreakpoints)
nmap <leader>ur <Action>(Debugger.RemoveAllBreakpoints)

" bookmarks
nmap <leader>bs <Action>(ShowBookmarks)
nmap <leader>bt <Action>(ActivateBookmarksToolWindow)
nmap <leader>bb <Action>(ToggleBookmark)
nmap <leader>be <Action>(EditBookmark)
nmap <leader>bp <Action>(GotoPreviousBookmark)
nmap <leader>bn <Action>(GotoNextBookmark)

" Various functionality
nmap <leader>hu <Action>(HighlightUsagesInFile)
nmap <leader>rl <Action>(RecentLocations)
nmap gy <Action>(RecentChangedFiles)
nmap <leader>lh <Action>(LocalHistory.ShowHistory)
nmap <leader>m <Action>(ShowIntentionActions)
nmap <leader>o <Action>(FileStructurePopup)
nmap <leader>pw <Action>(SelectInProjectView)
nmap <leader>rt <Action>(RunContextGroup)

nmap gd <Action>(GotoDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gr <Action>(ShowUsages)

nmap <leader>so <Action>(SelectAllOccurrences)

xnoremap < <gv
xnoremap > >gv

" Copy whole file to system clipboard
nnoremap <leader>ya ggVG"+y

" code navigation
nmap <leader>j <Action>(MethodDown)
nmap <leader>k <Action>(MethodUp)
xmap <leader>j <Action>(MethodDown)
xmap <leader>k <Action>(MethodUp)
nmap <leader>J <Action>(JumpToLastChange)
nmap <leader>K <Action>(JumpToNextChange)
nmap <leader>vj <Action>(VcsShowPrevChangeMarker)
nmap <leader>vk <Action>(VcsShowNextChangeMarker)

nmap g[ <Action>(GotoPreviousError)
nmap g] <Action>(GotoNextError)
nmap gö <Action>(GotoPreviousError)
nmap gä <Action>(GotoNextError)
nmap gn <Action>(GotoNextElementUnderCaretUsage)
nmap gN <Action>(GotoPrevElementUnderCaretUsage)

" Keep standard Vim page-up behavior on <C-b>
nnoremap <C-b> <C-b>zz

" built-in navigation to navigated items works better
" nmap <c-o> <Action>(Back)
" nmap <c-i> <Action>(Forward)

" Keep standard Vim jump-list navigation
nnoremap <C-o> <C-o>zz
nnoremap <C-i> <C-i>zz

" IDEA navigation history
nmap <leader>ho <Action>(Back)
nmap <leader>hi <Action>(Forward)

" close stuff
nmap <leader>bdd <Action>(CloseEditor)
nmap <leader>bda <Action>(CloseAllEditors)
nmap <leader>bdo <Action>(CloseAllEditorsButActive)
nmap <leader>bdu <Action>(CloseAllUnmodifiedEditors)

" reactivate some IDEA shortcuts
nmap <c-s> <Action>(SaveAll)

" run stuff
nmap <leader>rr <Action>(ChooseRunConfiguration)
nmap <leader>rd <Action>(ChooseDebugConfiguration)
nmap <leader>1 <Action>(Run)
nmap <leader>2 <Action>(Debug)
nmap <leader>0 <Action>(Stop)

" other things
nmap <leader>ns <Action>(NewScratchFile)
nmap <leader>tw <Action>(ActivateProjectToolWindow)
nmap <leader>pt <Action>(PinActiveEditorTab)

" Toggle between absolute and relative line numbers
function! NumberToggle()
  if(&relativenumber == 1)
    set norelativenumber
  else
    set relativenumber number
  endif
endfunction

nnoremap <leader><Tab> :call NumberToggle()<cr>

" source
nmap <leader>9 <Action>(IdeaVim.ReloadVimRc.reload)

nmap <leader>ff <Action>(SearchEverywhere)
nmap <leader>fg <Action>(GotoFile)
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

nmap <A-j> :action MoveLineDown<CR>
nmap <A-k> :action MoveLineUp<CR>
xmap <A-j> :action MoveLineDown<CR>
xmap <A-k> :action MoveLineUp<CR>

inoremap jk <ESC>

" Ergonomic line navigation for Swedish keyboard
nnoremap H ^
nnoremap L $
xnoremap H ^
xnoremap L $

" Preserve original Vim screen-relative motions
nnoremap gH H
nnoremap gL L

nnoremap - :NERDTree<CR>

nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
