alias aaa='figlet -w 120 Arrange, Act, Assert'
alias aptlog='tail -n 30 /var/log/apt/history.log'
alias cat='bat'
alias free='free -h'
alias gitroot='git rev-parse --show-toplevel'
alias gcd='cd $(git rev-parse --show-toplevel)'
alias lsvim='ls -al $(which nvim)'
alias pdd='dirs -v'
alias pd='pd=pushd'
alias peaclock='peaclock --config-dir ~/.config/peaclock'
alias pwdc='pwd | xclip'
alias vim=nvim
alias vimsync='nvim +PaqSync +qall'
alias vimu='nvim -u NONE'
alias gctags='ctags --recurse=yes --exclude=.git --exclude=BUILD --exclude=.svn --exclude=vendor/* --exclude=node_modules/* --exclude=db/* --exclude=log/*'
